body{
	background-color: #006666;
}
.container-fluid{
	background-color: #006666;
	color: #F0E68C;
	padding: 50px;
}
.container-fluid h1{
	text-transform: uppercase;
	font-size: 50px;	
}
.container-fluid h4{
	text-transform: capitalize;
	font-size: 30px;
}
.navbar{
	background-color: #006666;
	border: 0;
}
.navbar .navbar-brand, .navbar .navbar-nav li a, .navbar .navbar-right li a{
	color: #F0E68C;
	font-size: 20px;
}
.navbar .navbar-brand:hover, .navbar .navbar-nav li a:hover, .navbar .navbar-right li a:hover{
	background-color: #00BFFF;
	border-radius: 5px;
}
#overlay{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	align-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}
#overlayText{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	color: #F0E68C;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
div#mainTextArea{
	background-color: #cffefe;
	padding: 40px;
	color: #041717;
}
#actualText p{
	font-size: 20px;
	padding: 7%;
}
.textWrapper textarea{
	font-size: 20px;
	padding: 7%;
	width: 100%;
	border: 10px solid grey;
	border-radius: 10px;
	outline: none;
}
#startOver{
	background-color: #006666; 
	color: #F0E68C;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
	border-radius: 5px;
	outline: none;
}
#startOver:hover{
    background-color: #F0E68C; 
	color: #000a0a;
}
.time{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#timer{
	font-size: 40px;
	font-weight: bold;
}
.correct {
	background-color: #79cfcf;
}